
/* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* Layout */

body {
  background: #2C2416 url("../images/truck.jpg") no-repeat;
  font-family: futura, 'century gothic', geneva, 'gil sans', helvetica;
  max-width: 2000px;
}

#content {
  min-height: 100%;
  height: 100%;
  position: relative;
  padding-top: 125px !important;
  padding-bottom: 50px;
  overflow: auto;
}

.container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.container .columns {
  margin-left: 5px;
  margin-right: 5px;
}

#dance { background-color: #2C2416;}
#narrative { background-color: #fdf5ef; }
#music { background-color: #2C2416;}
#commercial { background-color: #fdf5ef; }
#contact { background-color: #2C2416; }

.block { height: 780px; }

header {
  z-index: 500;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  float: left;
  background-color: rgba(44,36,32,0.8);
  border-bottom: solid thick #4086AA;
  overflow: hidden;
}

footer {
  height: 75px;
  background-color: #2C2416;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

footer p {
  margin: 10px;
  padding-top: 10px;
  float: left;
  font-size: 14px;
}

/* Navigation */

nav {
  z-index: 300;
  position: fixed;
  height: 45px;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  display: block;
  float: left;
  background-color: rgba(44,36,32,0.8);
  text-align: center;
  overflow: hidden
}

nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
  text-align: center;
}

nav ul li {
  position: relative;
  display: inline;
  padding: 15px 15px;
  margin-bottom: 0;
  float: left;
  text-align: center;
}

nav ul li:hover { background-color: rgba(44,36,32,1); font-weight: bold; }

nav li a {
  color: #4086AA;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

nav li a:visited { color: #4086AA; }

.active { background-color: rgba(44,36,32,1); font-weight: bold; }

nav.display-mobile { height: 95px; }

.display-mobile {
  display: none;
}

.hide-mobile {
  display: inherit;
}

/* #Page Styles
================================================== */

/* Typography */

h1, h2 {
  color: #4086AA;
  text-align: center;
  font-family: futura, 'century gothic', geneva, 'gil sans', helvetica;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 40px;
  float: left;
}

.highlight {
  background-color: rgba(44,36,32,0.8);
}

h3 {
  font-family: futura, 'century gothic', geneva, 'gil sans', helvetica;
  position: absolute;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  color: #4086AA;
}

button {
  height: 50px;
  width: 50px;
  background-color: #2C2416;
  border-radius: 100%;
  margin: 10px 10px 5px 5px;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: none;
  border: 0;
  border-top: 0px;
  border-left: 0px;
}

button:hover {
  background: #2C2416; /* Old browsers */
  background: #2C2416 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
  background: #2C2416 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
  background: #2C2416 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: #2C2416 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  background: #2C2416 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  background: #2C2416 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 0;
  border-top: 0px;
  border-left: 0px;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #4086AA;
  vertical-align: middle;
  text-align: center;
}

#bio {
  padding: 20px;
}

.highlight {
  background-color: rgba(44,36,32,0.8);
}

small {
  font-family: impact;
  font-size: 14px;
  vertical-align: middle;
  color: white;
}

hr {
  display: block;
  border: 3px solid #ccc;
  margin: 0;
}

p a {
  text-decoration: none;
  color: #4086AA;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

p a:visited {
  color: #4086AA;
  font-weight: bold;
}

.top {
  margin-bottom: 35px;
  text-align: center;
}

.button-top {
  color: rgba(0,0,0,0.9) !important;
}

/* Content */

.icons { float: right; }

.icons i { color: white; }

footer .icons {
  display: none;
}

img {
  position: relative;
  float: left;
  vertical-align: middle;
  margin: 0;
}

figure {
  float: left;
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0;
  border: 10px solid rgba(0,0,0,0.9);
  overflow: hidden;
  color: #FFFFFF;
}

figure:hover { cursor: pointer; }

/*figure span i {
  width: 100%;
  height: 50%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  color: white;
  opacity: 1;
  background: rgba(0,0,0,0.8) center no-repeat;
}*/

/* Note this is for the default full width screen. See Media Queries below for image resizing for mobile devices */
figure img {
  width: 460px;
  height: 258px;
}

figcaption {
  display: none;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

/* #Media Queries
================================================== */

  /* Custom Media Queries */

  @media only screen and (max-width: 1530px) {
    body { background-position: 20% 0%;}
  }

  @media only screen and (min-width: 1212px) and (max-width: 1281px) {
    body { background-position: 30% 0%;}
  }

  @media only screen and (min-width: 960px) and (max-width: 1280px) {
    h3 { display: none; }
  }

  @media only screen and (max-width: 1240px) {
    body { background-position: 40% 0% }
    header .icons { display: none; }
    footer .icons { display: inherit; }
    h1 { float: none; text-align: center; }
  }

  @media only screen and (max-width: 1155px) {
    footer { height: 125px; }
    footer p { float: none; text-align: center; }
    footer .icons { float: none; text-align: center; padding-top: 5px; }
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    body { background-position: 50% 0% }
    .block { height: 610px; }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    figure img {
      width: 364px;
      height: 203px;
    }

    h3 { display: none; }

    footer .icons { display: inherit; }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    #reel { height: 610px; }
    #dance { height: 1200px; }
    #narrative, #music, #commercial { height: 975px; }

    figure img {
      width: 300px;
      height: 168px;
    }

    h3 { display: none; }

    footer .icons { display: inherit; }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    figure img {
      width: 420px;
      height: 235px;
    }

    h1 { font-size: 30px; }

    h3 { display: none; }

    footer .icons { display: inherit; }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}

  /* Other Media Queries */
  @media only screen and (min-width: 466px) and (max-width: 550px) {
    h1 { font-size: 25px; }
  }

  @media only screen and (max-width: 609px) {
    #content { padding-top: 180px !important; }

    .display-mobile { display: inherit;}

    .hide-mobile { display: none; }
  }

  @media only screen and (max-width: 465px) {
    h1 { font-size: 20px; }

  }



/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
